body {
  background-color: var(--color-bg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #0f0f15;
  --color-secondary: #e7e6eb;
  --color-tertiary: #292939;
  --color-bg: #0f0f15;
}
