---
const { variant, size } = Astro.props;
import "../styles/global.css";
---

<button class={variant + " " + size}><slot /></button>

<style>
  button {
    padding: 10px 50px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: var(--color-tertiary);
    color: var(--color-secondary);
  }
  .primary {
    background-color: blue;
    color: white;
  }
  .small {
    font-size: 0.75rem;
  }
</style>
