---
import "../styles/global.css";
import Card from "./Card.astro";
import Cardfoto from "../assets/cardfoto.png";
---

<div class="flex cards">
  <Card
    lokation="Lokation"
    beskrivelse="Beskrivelse"
    foto={Cardfoto.src}
    tid="Kl. 18:30 - 19:30"
  />
  <Card
    lokation="Lokation"
    beskrivelse="Beskrivelse"
    foto={Cardfoto.src}
    tid="Kl. 18:30 - 19:30"
  />
  <Card
    lokation="Lokation"
    beskrivelse="Beskrivelse"
    foto={Cardfoto.src}
    tid="Kl. 18:30 - 19:30"
  />
</div>

<style>
  .cards {
    gap: 2rem;
  }
  @media (max-width: 1020px) {
    .cards {
      flex-direction: column;
      gap: 4rem;
      align-items: center;
    }
  }
</style>
