---
import "../styles/global.css";
---

<div class="flex footer1">
  <div class="flexcol">
    <h3>Genveje</h3>
    <ol>
      <li><a href="">Program</a></li>
      <li><a href="">Praktiske oplysninger</a></li>
      <li><a href="">Kontakt</a></li>
      <li><a href="">For arrangører</a></li>
    </ol>
  </div>
  <div class="flex">
    <img src="../assets/fblogo.svg" alt="Facebook" /><img
      src="../assets/iglogo.svg"
      alt="Instagram"
    />
  </div>
  <div class="flexcol">
    <h3>Kontakt</h3><p>Har du spørgsmål til kulturnat?</p><p>
      Email: <a href="mailto:kulturnatten@elsinore2032.dk"
        >kulturnatten@elsinore2032.dk</a
      >
    </p>
  </div>
</div>

<style>
  .footer1 {
    background-color: var(--color-tertiary);
  }
</style>
