---
import "../styles/global.css";
const { titel } = Astro.props;
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{titel}</title>
  </head>
  <body>
    <header>
      <Header />
    </header>
    <main>
      <slot />
    </main>
    <footer></footer>
  </body>
</html>
